html {

}

body {
    margin: 50px;
    font-family: 'Manjari', sans-serif;
}

h1 {
    font-family: 'Bangers', sans-serif;
    font-size: 3rem;
    color: #2b6e5e;
    margin: 0;
}

h2 {
    font-family: 'Bangers', sans-serif;
    margin: 0;
}

header {
    display: flex-wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

nav a {
    /* margin: 0 10px; */
}

a {
    color: #2b6e5e;
    font-family: 'Manjari', sans-serif;

}

.navbar {
    justify-content: right;
}

.nav-item{
    border: 1px solid #000;

}

#new-event {
    width: 100%;
    background-color: #2b6e5e;
    color: #fff;
    font-family: 'Manjari', sans-serif;
    border: 1px solid #2b6e5e;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 50px;
    cursor: pointer;
}

#new-event:hover {
    text-decoration: underline;
}

.details-box {
    border: 1px solid #2b6e5e;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.details-box a {
    color: #000 !important;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.details-box a:hover {
    text-decoration: underline;
}